*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    margin: 0;
    color: antiquewhite;
}

nav {
    display: flex;
    align-items: center;
    height: 9vh;
    margin-top: 0;
    font-size: 3vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 35px;
    display: flex;
    align-items: center;
}

li {
    display: flex;
    align-items: center;
}


/* .lnavmargin {
    margin-left: 1.3vw;
    /* display: inline-block; */
*/

.tw {
    width: 3vw;
    height: 5vh;
    border-radius: 90%;
}

.fb {
    margin-left: 75vw;
}

.container1 {
    width: 100vw;
    height: 80vh;
    background-image: url(/images/img1bg.jpg);
}

.inside1container1 {
    position: absolute;
    font-size: 3.5vw;
    font-weight: 50;
    width: 35vw;
    height: 40vh;
    left: 15vw;
    top: 20vh;
}

.button-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 3vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    font-size: 1vw;
    border-radius: 4px;
    border: none;
    margin-top: 4vh;

    color: #fff;
    background: linear-gradient(180deg, #1c4787 0%, #367AF6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-10:hover {
    background: linear-gradient(0deg, #1c4787 0%, #367AF6 100%);
}

/* ------------------------------------------------------------------------------------------------------------- */

#main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    /* margin-top: 20px; */
}

#left {
    flex-basis: 30%;
}

#right {
    flex-basis: 70%;
    display: flex;
    /* border: 2px solid red; */
    height: 60%;
}
.search{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.search input{
    height: 80%;
    width:80%;
    border-radius: 10px;
}
.tag{
    flex-basis: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15%;
}

.menu {
    background-color: white;
    border: 0;
    padding: 0;
    font-size: 2vw;
}

.keepimg {
    height: 5.7vh;
    width: 4vw;
}

.search {
    flex-basis: 60%;
}
#section{
    display: flex;
    /* justify-content: space-between; */
    height: 300px;
    width: 100%;
}
#sectionl{
    flex-basis: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 35px;
}
#sectionr{
    flex-basis: 50%;
    display: flex;
    border-radius: 10px;
    height: 40px;
    border: 2px solid #000;
    justify-content: start;
    gap: 10px;
    
    
}
#sectionr input{
    flex-basis: 60%;
    border: none;
}
.inside{
    flex-basis: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list{
    display:none ; 
   
}
.some{
    display: flex;
    height: 210px;
    width: 170px;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 13%;
   /* border: 2px solid red; */
   padding-top: 10px;
   padding-left: 20px;
    gap: 9px;
    background-color: #fff;
}
.some a{
    text-decoration: none;
}
#menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 250px;
    height: 100%;
    top: 134px;
    gap: 20px;
    color: #000;
opacity: 0;
  }

#menu li{
    width: 100%;
    padding-left: 50%;
    border-radius: 10px;
    border: 1px solid #000;
    
}
#trueorfalse{
    position: absolute;
    top: 43px;
    left: 35.2px;
  opacity: 0;

}
